<div class="flex items-center pt-6 pl-6 pr-6 px-8 z-10 left-0 right-0 bg-white">
  <div class=" w-1/12"></div>
    <div class="max-lg:hidden ml-3 2xl:max-w-7xl flex flex-col w-11/12 justify-center items-center">
        <div class="flex justify-between w-full">
            <div class="flex w-4/6 justify-between min-w-[600px] max-w-[700px]">
                <a href="#" class="text-lg font-medium leading-6 text-gray-900 h-16 text-center content-center pl-1 pr-1 border-b-primary-black border-b-2 transition">Tool split</a>
                <a href="#" class="text-lg font-medium leading-6 text-gray-300 h-16 text-center content-center pl-1 pr-1 hover:border-gray800 hover:border-b-[1px] pb-[1px] hover:pb-0 transition hover:duration-150 delay-75 ease-in-out hover:text-black">Features</a>
                <a href="#" class="text-lg font-medium leading-6 text-gray-300 h-16 text-center content-center pl-1 pr-1 hover:border-gray800 hover:border-b-[1px] pb-[1px] hover:pb-0 transition hover:duration-150 delay-75 ease-in-out hover:text-black">Marketplace</a>
                <a href="#" class="text-lg font-medium leading-6 text-gray-300 h-16 text-center content-center pl-1 pr-1 hover:border-gray800 hover:border-b-[1px] pb-[1px] hover:pb-0 transition hover:duration-150 delay-75 ease-in-out hover:text-black">Company</a>
            </div>
            <div class=" w-52 flex justify-between items-center ml-14">
                <button class="transition hover:duration-300 ease-in-out delay-75 bg-black  duration-300 text-white px-6 py-2 rounded-lg font-bold text-center hover:-translate-y-1 hover:scale-100 hover:shadow-lg">
                    Login
                </button>
                <button class="transition hover:duration-300 ease-in-out delay-75 bg-white hover:bg-[#F9F9F9] duration-300 text-black px-6 py-2 rounded-lg font-bold text-center hover:-translate-y-1 hover:scale-100 hover:shadow-lg">
                    Sign up
                </button>
            </div>
        </div>
        <div class="border-b-[1px] w-full"></div>
    </div>
    <div class="hidden max-lg:flex justify-end fixed mt-8 left-0 right-0 hover:cursor-pointer">
      <svg xmlns="http://www.w3.org/2000/svg"viewBox="0 0 215 215" fill="none" class="p-3 w-12 h-12 ring-slate-900/5 flex items-center justify-center rounded-full hover:bg-black group transition hover:duration-100 delay-75 ease-linear">
      <path d="M25.9398 107.358H186.977" stroke="black" stroke-width="17.893" stroke-linecap="round" stroke-linejoin="round" class=" group-hover:stroke-white transition group-hover:duration-100 delay-75 ease-linear"/>
      <path d="M79.6185 161.037L25.9396 107.358L79.6185 53.679" stroke="black" stroke-width="17.893" stroke-linecap="round" stroke-linejoin="round" class=" group-hover:stroke-white transition group-hover:duration-100 delay-75 ease-linear"/>
      </svg>
  </div>
</div>
{{!-- <div class=" hidden max-lg:flex justify-center fixed mt-8 left-0 right-0 hover:cursor-pointer">
  <div class="animate-bounce bg-white dark:bg-slate-800 p-2 w-10 h-10 ring-1 ring-slate-900/5 dark:ring-slate-200/20 shadow-lg rounded-full flex items-center justify-center">
    <svg class="w-6 h-6 text-white" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
      <path d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
    </svg>
  </div>
</div> --}}