<div class="relative w-full">
    <div  class="fixed right-0 left-0 pt-6 px-8 bg-white z-10">
        <div class="max-lg:hidden flex flex-col justify-center items-center">
            <div class="flex justify-between w-full">
                <div class="flex w-4/6 justify-between min-w-[600px] max-w-[700px]">
                    <a href="/" class="text-lg font-medium leading-6 text-gray-900 h-16 text-center content-center pl-1 pr-1 border-b-black border-b-2 transition">Tool split</a>
                    <a href="/" class="text-lg font-medium leading-6 text-gray-300 h-16 text-center content-center pl-1 pr-1 hover:border-gray800 hover:border-b-[1px] pb-[1px] hover:pb-0 transition hover:duration-150 delay-75 ease-in-out hover:text-black">Features</a>
                    <a href="/" class="text-lg font-medium leading-6 text-gray-300 h-16 text-center content-center pl-1 pr-1 hover:border-gray800 hover:border-b-[1px] pb-[1px] hover:pb-0 transition hover:duration-150 delay-75 ease-in-out hover:text-black">Marketplace</a>
                    <a href="/" class="text-lg font-medium leading-6 text-gray-300 h-16 text-center content-center pl-1 pr-1 hover:border-gray800 hover:border-b-[1px] pb-[1px] hover:pb-0 transition hover:duration-150 delay-75 ease-in-out hover:text-black">Company</a>
                </div>
                <div class=" w-52 flex justify-between items-center ml-10">
                    <button class="transition hover:duration-300 ease-in-out delay-75 bg-black  duration-300 text-white px-6 py-2 rounded-lg font-bold text-center hover:-translate-y-1 hover:scale-100 hover:shadow-lg">
                        Login
                    </button>
                    <button class="btn_res transition hover:duration-300 ease-in-out delay-75 bg-white hover:bg-[#F9F9F9] duration-300 text-black px-6 py-2 rounded-lg font-bold text-center hover:-translate-y-1 hover:scale-100 hover:shadow-lg">
                    sign up
                    </button>
                </div>
            </div>
            <div class="border-b-[1px] w-full"></div>
        </div>
        <div class="hidden max-lg:flex justify-end fixed mt-8 left-0 right-0 hover:cursor-pointer">
        <svg xmlns="http://www.w3.org/2000/svg"viewBox="0 0 215 215" fill="none" class="p-3 w-12 h-12 ring-slate-900/5 flex items-center justify-center rounded-full hover:bg-black group transition hover:duration-100 delay-75 ease-linear">
        <path d="M25.9398 107.358H186.977" stroke="black" stroke-width="17.893" stroke-linecap="round" stroke-linejoin="round" class=" group-hover:stroke-white transition group-hover:duration-100 delay-75 ease-linear"/>
        <path d="M79.6185 161.037L25.9396 107.358L79.6185 53.679" stroke="black" stroke-width="17.893" stroke-linecap="round" stroke-linejoin="round" class=" group-hover:stroke-white transition group-hover:duration-100 delay-75 ease-linear"/>
        </svg>
    </div>
    </div>
</div>
{{>signUp}}


<script>
document.addEventListener('DOMContentLoaded', function() {
    const form_res = document.querySelector('.signUp_form');
    const Overlay_res = document.querySelector('.Overlay_res');
    const closed_res = document.querySelector('.closed_res');
    const btn_res = document.querySelector('.btn_res');
    const box_res=document.querySelector('.box_form_res');

    btn_res.addEventListener('click', openForm);
    Overlay_res.addEventListener('click', closeForm);
    closed_res.addEventListener('click', closeForm);

    function closeForm() {
        Overlay_res.classList.remove('animate-fadeIn');
            form_res.classList.remove('inset-0');
        box_res.classList.remove('animate-fadeInRight');
        Overlay_res.classList.add('animate-fadeOut');
        box_res.classList.add('animate-fadeOutRight');
        form_res.classList.add('hidden');
    }

    function openForm() {
        form_res.classList.remove('hidden');
        form_res.classList.add('inset-0');
         Overlay_res.classList.add('animate-fadeIn');
        box_res.classList.add('animate-fadeInRight');
           Overlay_res.classList.remove('animate-fadeOut');
        box_res.classList.remove('animate-fadeOutRight');
    }
});
</script>