<!-- Main-Header -->
        <div class="Main-header_Container">
            <!-- Nav-header -->
            <div class="Container-header_navleft c-2 m-2 l-2">
                <div class="Header_navleft-box">
                    <div class="Navleft-box_Top">
                        <svg xmlns="http://www.w3.org/2000/svg" width="44" height="36" viewBox="0 0 44 36" fill="none">
                            <g filter="url(#filter0_d_1_35)">
                            <path d="M21.526 9.26393L10.0016 18.7556V28.9999C10.0016 29.2651 10.107 29.5195 10.2945 29.7071C10.4821 29.8946 10.7365 30 11.0017 30L18.0063 29.9819C18.2706 29.9806 18.5237 29.8746 18.7102 29.6872C18.8967 29.4998 19.0014 29.2461 19.0014 28.9818V22.9992C19.0014 22.734 19.1067 22.4796 19.2943 22.292C19.4818 22.1045 19.7362 21.9991 20.0015 21.9991H24.0019C24.2672 21.9991 24.5215 22.1045 24.7091 22.292C24.8967 22.4796 25.002 22.734 25.002 22.9992V28.9774C25.0016 29.109 25.0272 29.2394 25.0773 29.3611C25.1273 29.4828 25.2009 29.5934 25.2939 29.6866C25.3868 29.7798 25.4972 29.8537 25.6187 29.9042C25.7402 29.9547 25.8705 29.9806 26.0021 29.9806L33.0042 30C33.2694 30 33.5238 29.8946 33.7114 29.7071C33.8989 29.5195 34.0043 29.2651 34.0043 28.9999V18.7487L22.4824 9.26393C22.3469 9.15475 22.1782 9.09521 22.0042 9.09521C21.8302 9.09521 21.6615 9.15475 21.526 9.26393ZM39.7299 15.7153L34.5043 11.4079V2.75008C34.5043 2.55115 34.4253 2.36036 34.2846 2.21969C34.144 2.07903 33.9532 2 33.7543 2H30.2539C30.0549 2 29.8641 2.07903 29.7235 2.21969C29.5828 2.36036 29.5038 2.55115 29.5038 2.75008V7.28872L23.9075 2.68445C23.3705 2.24251 22.6966 2.00088 22.0011 2.00088C21.3056 2.00088 20.6317 2.24251 20.0946 2.68445L4.27222 15.7153C4.19626 15.7781 4.13342 15.8552 4.08729 15.9423C4.04115 16.0293 4.01263 16.1246 4.00334 16.2227C3.99405 16.3208 4.00418 16.4198 4.03316 16.514C4.06213 16.6082 4.10938 16.6957 4.17221 16.7716L5.76613 18.7094C5.82879 18.7855 5.90585 18.8486 5.99291 18.895C6.07997 18.9413 6.17532 18.9701 6.2735 18.9795C6.37168 18.989 6.47076 18.979 6.56507 18.9501C6.65939 18.9213 6.74708 18.8741 6.82313 18.8113L21.526 6.70115C21.6615 6.59197 21.8302 6.53243 22.0042 6.53243C22.1782 6.53243 22.3469 6.59197 22.4824 6.70115L37.1859 18.8113C37.2618 18.8741 37.3494 18.9213 37.4435 18.9503C37.5377 18.9793 37.6367 18.9894 37.7348 18.9801C37.8329 18.9708 37.9282 18.9423 38.0153 18.8962C38.1024 18.85 38.1795 18.7872 38.2423 18.7112L39.8362 16.7735C39.8989 16.6972 39.946 16.6092 39.9746 16.5146C40.0033 16.42 40.0129 16.3207 40.003 16.2223C39.9932 16.124 39.964 16.0286 39.9171 15.9415C39.8702 15.8545 39.8066 15.7776 39.7299 15.7153Z" fill="black"/>
                            </g>
                            <defs>
                            <filter id="filter0_d_1_35" x="0" y="0" width="44.0068" height="36" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                            <feOffset dy="2"/>
                            <feGaussianBlur stdDeviation="2"/>
                            <feComposite in2="hardAlpha" operator="out"/>
                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1_35"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1_35" result="shape"/>
                            </filter>
                            </defs>
                            </svg>
                    </div>
                    <div class="Navleft-box_center">
                        <ul class="Categories-List">
                            <li class="Cate-Item cursor_hover"><a href="" class=""><h1 class="Cate-Item_text cate-item-text_focus">Home</h1></a></li>
                            <li class="Cate-Item cursor_hover"><a href="" class=""><h1 class="Cate-Item_text">Profile</h1></a></li>
                            <li class="Cate-Item cursor_hover"><a href="" class=""><h1 class="Cate-Item_text">Message</h1></a></li>
                        </ul>
                    </div>
                    <div class="Navleft-box_bottom">
                        <div class="Item_setting cursor_hover">
                            <a href="" class="Item-setting_link">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="23" viewBox="0 0 22 23" fill="none">
                                    <path d="M21.719 14.2522L19.7452 13.1124C19.9444 12.0374 19.9444 10.9347 19.7452 9.85976L21.719 8.71996C21.946 8.59023 22.048 8.3215 21.9738 8.0713C21.4595 6.42183 20.5838 4.9299 19.4394 3.68817C19.2633 3.4982 18.9761 3.45187 18.7537 3.5816L16.7799 4.7214C15.9505 4.00787 14.996 3.4565 13.9628 3.09511V0.820142C13.9628 0.560676 13.7821 0.333643 13.5273 0.278043C11.8268 -0.10189 10.0847 -0.0833565 8.46769 0.278043C8.21285 0.333643 8.03215 0.560676 8.03215 0.820142V3.09974C7.00356 3.46577 6.04909 4.01714 5.21509 4.72604L3.24593 3.58624C3.0189 3.4565 2.73626 3.4982 2.5602 3.6928C1.41576 4.9299 0.540066 6.42183 0.0257668 8.07593C-0.0529997 8.32613 0.0535668 8.59486 0.2806 8.7246L2.2544 9.8644C2.05516 10.9393 2.05516 12.0421 2.2544 13.117L0.2806 14.2568C0.0535668 14.3865 -0.0483664 14.6553 0.0257668 14.9055C0.540066 16.5549 1.41576 18.0468 2.5602 19.2886C2.73626 19.4785 3.02353 19.5249 3.24593 19.3951L5.21973 18.2553C6.04909 18.9689 7.00356 19.5202 8.03679 19.8816V22.1612C8.03679 22.4207 8.21749 22.6477 8.47232 22.7033C10.1728 23.0833 11.9149 23.0647 13.5319 22.7033C13.7867 22.6477 13.9674 22.4207 13.9674 22.1612V19.8816C14.996 19.5156 15.9505 18.9642 16.7845 18.2553L18.7583 19.3951C18.9853 19.5249 19.268 19.4832 19.444 19.2886C20.5885 18.0515 21.4642 16.5596 21.9785 14.9055C22.048 14.6506 21.946 14.3819 21.719 14.2522ZM10.9975 15.1927C8.95419 15.1927 7.29082 13.5294 7.29082 11.4861C7.29082 9.44276 8.95419 7.7794 10.9975 7.7794C13.0408 7.7794 14.7041 9.44276 14.7041 11.4861C14.7041 13.5294 13.0408 15.1927 10.9975 15.1927Z" fill="black"/>
                                    </svg>
                            </a>
                        </div>
                        <div class="User_avt cursor_hover">
                            <img src="/FE/source-base/Assets/Image/avt_user.png" alt="" class="User_avt_pict">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Main-Content -->
            <div class="Container-main c-10 m-10 l-10">
                <!-- Main-header -->
                <div class="Containtner-main_header">
                    <div class="Main_header-left">
                        <div class="Logo-web">
                            <img src="IMG/Logo_main_web.png" alt="" class="Icon_Logo">
                        </div>
                        <div class="Name_web">
                            <h1 class="Name_web-text">SPLIT TOOL</h1>
                        </div>
                    </div>
                    <div class="Main_header-right">
                        <div class="Login_container">
                            <button class="btn_login btn_main">Login</button>
                        </div>
                        <div class="Register_container">
                            <button class="btn_register btn_main">Sign up</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>