<form method="POST">
    <div>
        <label for="">Email</label>
        <input type="email" name="email">
        <label for="">Pasword</label>
        <input type="password" name="password">
        <label for="">NumberPhone</label>
        <input type="number" name="numberPhone">
    </div>
    <div>
      <button type="submit">Sign Up</button>
    </div>
</form>