@import 'variable';
.container{
    justify-content: center;
    width: auto;
    height: auto;
}
.formUpload_Container{
    width: auto;
    height: auto;
}
.formUpload_input{

}
.formUpload_submit{

}