 <h1>Download Success full</h1>
    <p>File ready to download: {{pdfFilePathWithExtension}}</p>
    <form action="/upload/wait/download" method="GET">
        <input type="hidden" name="file" value="{{pdfFilePathWithExtension}}">
        <button type="submit">Download File</button>
    </form>