<div class="Container-box_parent">
    <div class="Container-box_list">
        <div class="Container-box_list-Title">
            <div class="Title_content">
                <div class="Title_content-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="12" viewBox="0 0 16 12" fill="none">
                        <path d="M7.51115 3.11312L2.57212 7.18098V11.5714C2.57212 11.6851 2.61727 11.7941 2.69766 11.8745C2.77804 11.9548 2.88706 12 3.00074 12L6.00268 11.9922C6.11598 11.9917 6.22445 11.9463 6.30437 11.8659C6.38429 11.7856 6.42916 11.6769 6.42915 11.5636V8.99967C6.42915 8.88599 6.47431 8.77697 6.55469 8.69659C6.63508 8.6162 6.7441 8.57105 6.85777 8.57105H8.57225C8.68593 8.57105 8.79495 8.6162 8.87533 8.69659C8.95571 8.77697 9.00087 8.88599 9.00087 8.99967V11.5617C9.00069 11.6181 9.01165 11.674 9.03311 11.7262C9.05457 11.7783 9.08612 11.8257 9.12593 11.8657C9.16575 11.9056 9.21306 11.9373 9.26515 11.9589C9.31724 11.9806 9.37309 11.9917 9.42949 11.9917L12.4304 12C12.544 12 12.6531 11.9548 12.7334 11.8745C12.8138 11.7941 12.859 11.6851 12.859 11.5714V7.17803L7.92102 3.11312C7.86297 3.06632 7.79065 3.0408 7.71608 3.0408C7.64152 3.0408 7.5692 3.06632 7.51115 3.11312ZM15.3128 5.87798L13.0733 4.03197V0.321464C13.0733 0.236207 13.0394 0.154441 12.9791 0.0941548C12.9188 0.0338685 12.8371 0 12.7518 0H11.2517C11.1664 0 11.0846 0.0338685 11.0243 0.0941548C10.9641 0.154441 10.9302 0.236207 10.9302 0.321464V2.26659L8.5318 0.293336C8.30163 0.103935 8.01282 0.000378617 7.71474 0.000378617C7.41667 0.000378617 7.12785 0.103935 6.89769 0.293336L0.116664 5.87798C0.0841128 5.90488 0.0571815 5.93794 0.0374093 5.97525C0.0176371 6.01257 0.00541152 6.05342 0.00143109 6.09546C-0.00254933 6.1375 0.00179341 6.17992 0.0142112 6.22028C0.026629 6.26065 0.0468784 6.29817 0.0738025 6.33071L0.756914 7.16116C0.783765 7.19381 0.816792 7.22084 0.854103 7.24071C0.891415 7.26058 0.932279 7.27289 0.974356 7.27695C1.01643 7.281 1.0589 7.27672 1.09932 7.26434C1.13974 7.25197 1.17732 7.23174 1.20991 7.20482L7.51115 2.01478C7.5692 1.96799 7.64152 1.94247 7.71608 1.94247C7.79065 1.94247 7.86297 1.96799 7.92102 2.01478L14.2225 7.20482C14.2551 7.23175 14.2926 7.252 14.3329 7.26441C14.3733 7.27683 14.4157 7.28117 14.4578 7.27719C14.4998 7.27321 14.5407 7.26099 14.578 7.24122C14.6153 7.22144 14.6483 7.19451 14.6753 7.16196L15.3584 6.33151C15.3853 6.29879 15.4054 6.26107 15.4177 6.22053C15.43 6.17999 15.4341 6.13742 15.4299 6.09528C15.4256 6.05313 15.4131 6.01224 15.393 5.97495C15.3729 5.93765 15.3457 5.9047 15.3128 5.87798Z" fill="black"/>
                        </svg>
                </div>
                <h1 class="Title_content-text">Home</h1>
            </div>
        </div>
        <div class="Container-content">
            <div class="Container-box_list-Header">
                <h1 class="Header_text">Split PDF</h1>
            </div>
            <div class="Container-box_list-Content">
                <div class="Container-box_background">
                    <div class="Container-box_stroke">
                        <div class="Container-box_img">
                            <img src="/FE/source-base/Assets/Image/PDF_IMAGE.png" alt="">
                        </div>
                        <div class="Container-box_content">
                            <form class="formUpload_Container" action="upload" method="POST" enctype="multipart/form-data">
                                <div class="formUpload_input-content">
                                    <img src="/FE/source-base/Assets/Image/Add File.png" alt="">
                                    <h1>CHOOSE FILE</h1>
                                </div>
                                <input class="formUpload_input" type="file" name="pdfFile" accept=".pdf" required>
                                <input class="formUpload_inputIndexPage" type="text" name="indexPage">
                                <div class="box-btn_upload">
                                    <div class="box-content_text-nameFile">or drop files here</div>
                                    <button class="formUpload_submit" type="submit"><i class="Icon-upload_home fa-solid fa-cloud-arrow-up"></i></button>
                                </div>
                            </form> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
 

