 <h1>Tải lên tệp PDF</h1>
<form class="formUpload_Container" action="upload" method="POST" enctype="multipart/form-data">
    <input class="formUpload_inputFile" type="file" name="pdfFile" accept=".pdf" required>
    <input class="formUpload_inputIndexPage" type="text" name="indexPage">
    <button class="formUpload_submit" type="submit">Tải lên ikkk</button>
</form>


