<form style="background-color: red;" class="" action="/pdf-tools/pdf-split/resolve" method="POST">
    <input type="hidden" name="pdfFilePath" id="pdfFilePath" value="{{pdfFilePath}}">
    <input class="formUpload_inputIndexPage" type="text" name="indexPage">
    <div class="box-btn_upload">
        <button class="formUpload_submit" type="submit"><i class="Icon-upload_home fa-solid fa-cloud-arrow-up"></i></button>
    </div>
</form>
