<div style="margin: 20px; align-items: center; width : 100%; display: flex; justify-content: center;" class="YouShouldDeleteThisBlock">
{{>previewsPDF}}

</div>
<form style="background-color: red;" class="" action="/pdf-tools/pdf-split/resolve" method="POST">
    <input type="hidden" name="pdfFilePath" id="pdfFilePath" value="{{pdfFilePath}}">
    <p>basic</p>
    <input class="formUpload_inputIndexPage" type="text" name="indexPageBasic">
    <p>smart</p>
    <input class="formUpload_inputIndexPage" type="text" name="indexPageSmart">
    <div class="box-btn_upload">
        <button class="formUpload_submit" type="submit"><i class="Icon-upload_home fa-solid fa-cloud-arrow-up"></i></button>
    </div>
</form>
