<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tools PDF</title>
    <link rel="stylesheet" href="/CSS/app.css">
</head>
<body>
    <!-- BEGIN HEADER -->
    {{> header}}
    <!-- END HEADER -->

    <!-- BEGIN CONTAINER -->
    <div class="container">
        {{{body}}}
    </div>
     <!-- END CONTAINER  -->
     
    <!-- BEGIN FOOTER -->
    {{> footer}}
    <!-- END FOOTER  -->
</body>
</html>

